* {
    font-family: Raleway;
    text-align: center;
    image-rendering: -webkit-optimize-contrast;
}

.aboutme {
    text-align: center;
    line-height: 30px;

}

.center {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


table {
    text-align: center;
    width: 10px;
    margin-left: auto;
    margin-right: auto;
}