body {
    font-family: Raleway;
    text-align: center;
    image-rendering: -webkit-optimize-contrast;
}

.aboutme {
    text-align: center;
    line-height: 30px;

}

.center {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

table {
    text-align: center;
    width: 10px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: black;
}

a:hover {
    color: forestgreen;
}