body {
    font-family: Raleway;
    text-align: center;
    image-rendering: -webkit-optimize-contrast;
    background-color:  #00001a;
    color: white;
}

strong {
    color: #fddb27ff; 
}

.inline {
    color: white
}

.checked {
    color: orange;
}

.aboutme {
    text-align: center;
    line-height: 30px;
}

.center {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: white;
}

a:hover {
    color: #fddb27ff; 
}

#preloader {
    background: black url(images/loader.gif) no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
